<div class="container">
    <div class="text-center">
        <h1>Le chronomètre</h1>
        <hr>
        <h1>
            <span class="label label-primary">{{chronometer.getTime()}}</span>
        </h1>
        <br>
        <p>
            <button class="btn btn-danger btn-lg" (click)="init()">Effacer</button>
            <button class="btn btn-danger btn-lg" *ngIf="chronometer.state == chronometerState.Play" (click)="stop()">Arrêter</button>
            <button class="btn btn-primary btn-lg" *ngIf="chronometer.state != chronometerState.Play" (click)="play()">{{btnPlay}}</button>
        </p>
    </div>
</div>