.container {
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.theme-set-card {
    margin: 10px;
}