<span id="init-time">{{timer.initSeconds | timer}}</span>
<div id="timer">
    <md-input-container (click)="onInitTime()">
       <input type="time" mdInput [(ngModel)]="time">
    </md-input-container>
</div>
<div id="fab-timer">
    <button md-fab>
        <md-icon [@buttonAnim] *ngIf="isInitializingTime" (click)="init()">check</md-icon>
        <md-icon [@buttonAnim] *ngIf="timer.state != timerState.Play && !isInitializingTime" (click)="play()">play_arrow</md-icon>
        <md-icon [@buttonAnim] *ngIf="timer.state == timerState.Play && !isInitializingTime" (click)="stop()">stop</md-icon>
    </button>
</div>